#
# Simple start script to reset the Grove LCD
# This could be an `ExecStartPre` in poop.service, but keeping it oneshot aids debugging
#
# Place this file in /etc/systemd/system
#   sudo cp grove.service /etc/systemd/system/

# Enable with systemctl:
#   sudo systemctl enable grove.service
#   (The final file will wind up in /lib/systemd/system)
#
# Start/stop the service with systemctl:
#   sudo systemctl start grove.service
#   sudo systemctl stop grove.service

[Unit]
Description=Initialize the Grove LCD

[Service]
Type=oneshot
ExecStart=/home/itadm/poop-meter/src/grove-reset.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
