#
# Simple start/stop script for the RFO poopWatcher service
#
# Place this file in /etc/systemd/system
#	sudo cp poop.service /etc/systemd/system/

# Enable with systemctl:
#	sudo systemctl enable poop.service
#   (The final file will wind up in /lib/systemd/system)
#
# Start/stop the service with systemctl:
#	sudo systemctl start poop.service
#	sudo systemctl stop poop.service

[Unit]
Description=RFO Poop Watcher Service
After=local-fs.target network.target remote-fs.target
Requires=local-fs.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/itadm/poop-meter
ExecStartPre=/home/itadm/poop-meter/src/grove-reset.py
ExecStart=/home/itadm/poop-meter/src/poopWatcher.py
ExecStopPost=/home/itadm/poop-meter/src/grove-reset.py Good-bye, cruel world
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
